# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# SQLite database files
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
